{
    "swagger": "2.0",
    "info": {
        "description": "The application programmer interface for Astrocartics for statistics about Eve Online.",
        "title": "Astrocartics API",
        "contact": {},
        "version": "1.0"
    },
    "host": "api.astrocartics.xyz",
    "basePath": "/v1",
    "paths": {
        "/constellations": {
            "get": {
                "description": "Get all constellations, or search for a constellation by name",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "constellations"
                ],
                "summary": "Get constellations",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Constellation name to search for",
                        "name": "name",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Constellation"
                            }
                        }
                    }
                }
            }
        },
        "/constellations/{constellationID}": {
            "get": {
                "description": "Get a single constellation by its unique ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "constellations"
                ],
                "summary": "Get a constellation by ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Constellation ID",
                        "name": "constellationID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Constellation"
                            }
                        }
                    }
                }
            }
        },
        "/constellations/{constellationID}/kills/summary": {
            "get": {
                "description": "Get all kills for a specific constellation",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "reports"
                ],
                "summary": "Get kill count by constellation ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Constellation ID",
                        "name": "constellationID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "hour",
                            "day",
                            "week",
                            "month"
                        ],
                        "type": "string",
                        "description": "Mode for aggregating kills (hour, day, week, month)",
                        "name": "mode",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.ConstellationKills"
                            }
                        }
                    }
                }
            }
        },
        "/constellations/{constellationID}/stargates": {
            "get": {
                "description": "Get all stargates for a specific constellation",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "stargates"
                ],
                "summary": "Get stargates by constellation ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Constellation ID",
                        "name": "constellationID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Stargate"
                            }
                        }
                    }
                }
            }
        },
        "/constellations/{constellationID}/systems": {
            "get": {
                "description": "Get all systems for a specific constellation",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "systems"
                ],
                "summary": "Get systems by constellation ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Constellation ID",
                        "name": "constellationID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.System"
                            }
                        }
                    }
                }
            }
        },
        "/planets": {
            "get": {
                "description": "Get all planets, or search for a planet by name",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "planets"
                ],
                "summary": "Get planets",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Planet name to search for",
                        "name": "name",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Planet"
                            }
                        }
                    }
                }
            }
        },
        "/planets/{planetID}": {
            "get": {
                "description": "Get a single planet by its unique ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "planets"
                ],
                "summary": "Get a planet by ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Planet ID",
                        "name": "planetID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Planet"
                        }
                    }
                }
            }
        },
        "/rankings/constellations/top": {
            "get": {
                "description": "Get the top 10 constellations ranked by kill count for a specific time window",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "rankings"
                ],
                "summary": "Get top 10 constellations by kills",
                "parameters": [
                    {
                        "enum": [
                            "hour",
                            "day",
                            "week",
                            "month"
                        ],
                        "type": "string",
                        "description": "Mode for most violence (hour, day, week, month)",
                        "name": "mode",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.ConstellationKillCount"
                            }
                        }
                    }
                }
            }
        },
        "/rankings/regions/top": {
            "get": {
                "description": "Get the top 10 regions ranked by kill count for a specific time window",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "rankings"
                ],
                "summary": "Get top 10 regions by kills",
                "parameters": [
                    {
                        "enum": [
                            "hour",
                            "day",
                            "week",
                            "month"
                        ],
                        "type": "string",
                        "description": "Mode for most violence (hour, day, week, month)",
                        "name": "mode",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.RegionKillCount"
                            }
                        }
                    }
                }
            }
        },
        "/rankings/systems/top": {
            "get": {
                "description": "Get the top 10 systems ranked by kill count for a specific time window",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "rankings"
                ],
                "summary": "Get top 10 systems by kills",
                "parameters": [
                    {
                        "enum": [
                            "hour",
                            "day",
                            "week",
                            "month"
                        ],
                        "type": "string",
                        "description": "Mode for most violence (hour, day, week, month)",
                        "name": "mode",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.SystemKillCount"
                            }
                        }
                    }
                }
            }
        },
        "/regions": {
            "get": {
                "description": "Get all regions, or search for a region by name",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "regions"
                ],
                "summary": "Get regions",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Region name to search for",
                        "name": "name",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Region"
                            }
                        }
                    }
                }
            }
        },
        "/regions/{regionID}": {
            "get": {
                "description": "Get a single region by its unique ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "regions"
                ],
                "summary": "Get a region by ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Region ID",
                        "name": "regionID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Region"
                        }
                    }
                }
            }
        },
        "/regions/{regionID}/constellations": {
            "get": {
                "description": "Get all constellations for a specific region",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "constellations"
                ],
                "summary": "Get constellations by region ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Region ID",
                        "name": "regionID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Constellation"
                            }
                        }
                    }
                }
            }
        },
        "/regions/{regionID}/heatmap": {
            "get": {
                "description": "Get per-period per-system metrics (kills, destroyed_value, dropped_value) for a region",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "reports"
                ],
                "summary": "Get system heatmap by region",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Region ID",
                        "name": "regionID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "hour",
                            "day",
                            "week",
                            "month"
                        ],
                        "type": "string",
                        "description": "Mode for aggregating kills (hour, day, week, month)",
                        "name": "mode",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/regions/{regionID}/kills/summary": {
            "get": {
                "description": "Get all kills for a specific region",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "reports"
                ],
                "summary": "Get kill count by region ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Region ID",
                        "name": "regionID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "hour",
                            "day",
                            "week",
                            "month"
                        ],
                        "type": "string",
                        "description": "Mode for aggregating kills (hour, day, week, month)",
                        "name": "mode",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.RegionKills"
                            }
                        }
                    }
                }
            }
        },
        "/regions/{regionID}/stargates": {
            "get": {
                "description": "Get all stargates for a specific region",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "stargates"
                ],
                "summary": "Get stargates by region ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Region ID",
                        "name": "regionID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Stargate"
                            }
                        }
                    }
                }
            }
        },
        "/regions/{regionID}/systems": {
            "get": {
                "description": "Get all systems for a specific region",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "systems"
                ],
                "summary": "Get systems by region ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Region ID",
                        "name": "regionID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.System"
                            }
                        }
                    }
                }
            }
        },
        "/reports/spectral-class-counts": {
            "get": {
                "description": "Get a report of system counts by spectral class",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "reports"
                ],
                "summary": "Get spectral class counts",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.SpectralClassCount"
                            }
                        }
                    }
                }
            }
        },
        "/stargates": {
            "get": {
                "description": "Get all stargates",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "stargates"
                ],
                "summary": "Get stargates",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Stargate"
                            }
                        }
                    }
                }
            }
        },
        "/stations": {
            "get": {
                "description": "Get all stations, or search for a station by name",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "stations"
                ],
                "summary": "Get stations",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Station name to search for",
                        "name": "name",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Station"
                            }
                        }
                    }
                }
            }
        },
        "/stations/{stationID}": {
            "get": {
                "description": "Get a single station by its unique ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "stations"
                ],
                "summary": "Get a station by ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Station ID",
                        "name": "stationID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Station"
                        }
                    }
                }
            }
        },
        "/systems": {
            "get": {
                "description": "Get all systems, or search for a system by name",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "systems"
                ],
                "summary": "Get systems",
                "parameters": [
                    {
                        "type": "string",
                        "description": "System name to search for",
                        "name": "name",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.System"
                            }
                        }
                    }
                }
            }
        },
        "/systems/{systemID}": {
            "get": {
                "description": "Get a single system by its unique ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "systems"
                ],
                "summary": "Get a system by ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "System ID",
                        "name": "systemID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.System"
                            }
                        }
                    }
                }
            }
        },
        "/systems/{systemID}/killmails": {
            "get": {
                "description": "Get the most recent 15 killmails for a given system.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "killmails"
                ],
                "summary": "Get 15 most recent killmails for a system",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "System ID",
                        "name": "systemID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Killmails"
                            }
                        }
                    }
                }
            }
        },
        "/systems/{systemID}/kills/summary": {
            "get": {
                "description": "Get all kills for a specific system",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "reports"
                ],
                "summary": "Get kill count by system ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "System ID",
                        "name": "systemID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "hour",
                            "day",
                            "week",
                            "month"
                        ],
                        "type": "string",
                        "description": "Mode for aggregating kills (hour, day, week, month)",
                        "name": "mode",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.SystemKills"
                            }
                        }
                    }
                }
            }
        },
        "/systems/{systemID}/planets": {
            "get": {
                "description": "Get all planets for a specific system",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "planets"
                ],
                "summary": "Get planets by system ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "System ID",
                        "name": "systemID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Planet"
                            }
                        }
                    }
                }
            }
        },
        "/systems/{systemID}/stargates": {
            "get": {
                "description": "Get all stargates for a specific system",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "stargates"
                ],
                "summary": "Get stargates by system ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "System ID",
                        "name": "systemID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Stargate"
                            }
                        }
                    }
                }
            }
        },
        "/systems/{systemID}/stations": {
            "get": {
                "description": "Get all stations for a specific system",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "stations"
                ],
                "summary": "Get stations by system ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "System ID",
                        "name": "systemID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Station"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "models.Constellation": {
            "type": "object",
            "properties": {
                "constellation_id": {
                    "type": "integer"
                },
                "constellation_name": {
                    "type": "string"
                },
                "region_id": {
                    "type": "integer"
                }
            }
        },
        "models.ConstellationKillCount": {
            "type": "object",
            "properties": {
                "constellation_id": {
                    "type": "integer"
                },
                "constellation_name": {
                    "type": "string"
                },
                "total_kills": {
                    "type": "integer"
                }
            }
        },
        "models.ConstellationKills": {
            "type": "object",
            "properties": {
                "buckets": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.PeriodCount"
                    }
                },
                "constellation_id": {
                    "type": "integer"
                },
                "constellation_name": {
                    "type": "string"
                },
                "mode": {
                    "type": "string"
                },
                "total": {
                    "type": "integer"
                }
            }
        },
        "models.Killmails": {
            "type": "object",
            "properties": {
                "destroyed_value": {
                    "type": "number"
                },
                "dropped_value": {
                    "type": "number"
                },
                "fitted_value": {
                    "type": "number"
                },
                "kill_ship": {
                    "type": "integer"
                },
                "killmail_hash": {
                    "type": "string"
                },
                "killmail_id": {
                    "type": "integer"
                },
                "killmail_time": {
                    "type": "string"
                },
                "system_id": {
                    "type": "integer"
                },
                "total_value": {
                    "type": "number"
                },
                "victim_ship": {
                    "type": "integer"
                }
            }
        },
        "models.PeriodCount": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer"
                },
                "destroyed_value": {
                    "type": "number"
                },
                "dropped_value": {
                    "type": "number"
                },
                "period": {
                    "description": "e.g. \"2025-10-20\"",
                    "type": "string"
                }
            }
        },
        "models.Planet": {
            "type": "object",
            "properties": {
                "asteroid_belt_count": {
                    "type": "integer"
                },
                "moon_count": {
                    "type": "integer"
                },
                "planet_id": {
                    "type": "integer"
                },
                "planet_name": {
                    "type": "string"
                },
                "system_id": {
                    "type": "integer"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "models.Region": {
            "type": "object",
            "properties": {
                "region_id": {
                    "type": "integer"
                },
                "region_name": {
                    "type": "string"
                }
            }
        },
        "models.RegionKillCount": {
            "type": "object",
            "properties": {
                "region_id": {
                    "type": "integer"
                },
                "region_name": {
                    "type": "string"
                },
                "total_kills": {
                    "type": "integer"
                }
            }
        },
        "models.RegionKills": {
            "type": "object",
            "properties": {
                "buckets": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.PeriodCount"
                    }
                },
                "mode": {
                    "type": "string"
                },
                "region_id": {
                    "type": "integer"
                },
                "region_name": {
                    "type": "string"
                },
                "total": {
                    "type": "integer"
                }
            }
        },
        "models.SpectralClassCount": {
            "type": "object",
            "properties": {
                "spectral_class": {
                    "type": "string"
                },
                "system_count": {
                    "type": "integer"
                }
            }
        },
        "models.Stargate": {
            "type": "object",
            "properties": {
                "destination_stargate_id": {
                    "type": "integer"
                },
                "destination_system_id": {
                    "type": "integer"
                },
                "stargate_id": {
                    "type": "integer"
                },
                "stargate_name": {
                    "type": "string"
                },
                "system_id": {
                    "type": "integer"
                }
            }
        },
        "models.Station": {
            "type": "object",
            "properties": {
                "station_id": {
                    "type": "integer"
                },
                "station_name": {
                    "type": "string"
                },
                "system_id": {
                    "type": "integer"
                }
            }
        },
        "models.System": {
            "type": "object",
            "properties": {
                "constellation_id": {
                    "type": "integer"
                },
                "region_id": {
                    "type": "integer"
                },
                "security_class": {
                    "description": "Use pointer for nullable string",
                    "type": "string"
                },
                "security_status": {
                    "type": "number"
                },
                "spectral_class": {
                    "description": "Use pointer for nullable string",
                    "type": "string"
                },
                "system_id": {
                    "type": "integer"
                },
                "system_name": {
                    "type": "string"
                },
                "x_pos": {
                    "type": "number"
                },
                "y_pos": {
                    "type": "number"
                },
                "z_pos": {
                    "type": "number"
                }
            }
        },
        "models.SystemKillCount": {
            "type": "object",
            "properties": {
                "system_id": {
                    "type": "integer"
                },
                "system_name": {
                    "type": "string"
                },
                "total_kills": {
                    "type": "integer"
                }
            }
        },
        "models.SystemKills": {
            "type": "object",
            "properties": {
                "buckets": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.PeriodCount"
                    }
                },
                "mode": {
                    "type": "string"
                },
                "system_id": {
                    "type": "integer"
                },
                "system_name": {
                    "type": "string"
                },
                "total": {
                    "type": "integer"
                }
            }
        }
    }
}